<nav class="head-navigation" id="headNav"> 
    <a href="/"><img class="icon-house" src="icon/house.png"> </a>
    <a href="#"><span>Мои цели</span></a>
    <a href="table"><span>Финансовые системы</span></a>
    <a href="#"><span>Статистика</span></a>
    <a href="#"><span>Помощь</span></a>
</nav>