<!DOCTYPE HTML>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
        <html lang="ru">
        <meta charset="utf-8"> 
        <title>appExpress</title>
        <link rel="stylesheet" href="style/style.css">
    

    </head>
    <body> 
        <div class="flex-conteiner"></div>

            <header>
                <nav class="head-navigation" id="headNav"> 
                    <a href="index.html"><img class="icon-house" src="icon/house.png"> </a>
                    <a href="#"><span>Мои цели</span></a>
                    <a href="table.html"><span>Финансовые системы</span></a>
                    <a href="#"><span>Статистика</span></a>
                    <a href="#"><span>Помощь</span></a>
                </nav>
            </header>
                <main id="mainContent">
                    <aside></aside>
                    <section class="content">
                        <h2>Финансовый учет как путь к богатству</h2>
                        <article>
                        <p class="text-content">
                            Как часто вы посещаете магазин с целью купить какую-нибудь пустяковую вещь: хлеб, молоко, сметану, а возвращаетесь домой с кучей трещащих по швам пакетов абсолютно не нужных вам вещей. И только по возвращении домой вы выходите из транса и вспоминаете, что на самом деле то, зачем вы шли в магазин не было куплено. Это происходить, потому что вы не понимаете, как расходуется ваш личный бюджет.<br><br> <b>Эту проблему может решить ведение финансового учета.</b> 
                        </p>
                        <div class="content-img">
                            <img src="img/content.jpg" alt="Картинка">
                        </div>
                    </article>

                    <h2>Системы ведения финансового учета, доступные на этом сайте</h2>

                    <article>
                        <p class="text-content">
                            Существуют разные способы управлять своими финансами. На сайте реализована самый щадящая система. В ней вам не требуется ограничивать себя строгими рамками: тратить на продукты 10% от заработка. Нет, сайт предлагает вам всего лишь вести учет всех доходов и расходов. Это позволит вам увидеть на какие вещи вы тратите больше всего своих денег, и поверьте, как только в столбце одежда вы увидите значительный перевес в затратах относительно других пассивов, вы сами захотите тратить меньше денег на это.
                        </p>

                        <p class="text-content text-end-of-main"><br>Итак, просто перейдите на станицу «Финансовые системы» и начинайте ваш путь к богатству.</p>
                    </article>
                    </section>
                <aside></aside>


                </main>

            <footer>
                <section class="footer-section">
                    <div class="footer-block">
                        <nav>
                            <a href="https://vk.com">во вконтакте</a>
                            <a href="https://www.instagram.com/">Инстаграм</a>
                            <a href="#">ещё что-нибудь</a>
                        </nav>
                        <div>
                            <span>Свяжитесь с нами:<br></span>
                            <a href="#"><pre>               +79658905043</pre></a>
                        </div>
                    </div>
            </section>


            </footer>

        </div>

        </body>

        <script src="javascript/script.js" type="module"></script>

</html>